.roullete-keyboard {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 232px;
  background: linear-gradient(180deg, #EB9797 0%, #675EA2 100%);
  overflow: hidden;
  display: flex;
  justify-content: center;

  .line {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #000;
  }

  .line-top {
    top: 84px;
  }

  .line-bottom {
    bottom: 84px;
  }
}