.roullete {
    transition: all .3s;
    transform: translateY(90px);

    &-key {
        display: block;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        color: white;
        font-size: 40px;
        text-align: center;
    }
}